<div class="col-sm-8 blog-main">  
  <!-- will look for a partial _blog.html.erb (singular) and it will iterate @blogs object based on the partial model-->
  <h2><%= @blog.title %></h2>
  <hr>
  <p><%= @blog.topic.title %></p>
  <p><%= markdown @blog.body %></p>

  <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>
  <b> | </b>
  <%= link_to 'Back', blogs_path %>

  <!-- Start comment form -->
  <%= render 'comments/comments_form' %>
  <!-- End comment form -->

  <!-- Start comments in partial views/comments/_comments.html.erb -->
  <div id="comments" data-blog-id="<%= @blog.id %>">
    <%= render @blog.comments %>
  </div>
  <!-- End comments -->

</div>


