<div class="col-sm-3 offset-sm-1 blog-sidebar text-center">
    <div class="sidebar-module sidebar-module-inset">
      <h4>About Blogs</h4>
      <p>This is the place where everyone can read waht is your opinion on different topics.</p>
    </div>

    <div class="sidebar-module">
      <h4>Topics</h4>
      <% @set_sidebar_topics.order(:title).each do |topic| %>
        <p><%= link_to topic.title, topic_path(topic) %></p>
      <% end %>
    </div>

    
    <div class="sidebar-module">
      <h4>External Links</h4>
      <ol class="list-unstyled social-links">
        <li><a href="https://github.com/AlucardLogistics/PortfolioApp"><%= fa_icon "github-square" %></a></li>
        <li><a href="https://www.instagram.com/sadics/"><%= fa_icon "instagram" %></a></li>
        <li><a href="https://twitter.com/sadics"><%= fa_icon "twitter-square" %></a></li>
        <li><a href="https://www.facebook.com/Dragos.Alex.Stoian"><%= fa_icon "facebook-square" %></a></li>
      </ol>
    </div>
  </div>
</div>