<div class="app-card-containter">
  <div class="card">
    <h1>About me</h1>
    <hr />

    <div class="row">
      <div class="col-md-4">        
        <%= image_tag "profile.png", width: 300, alt: "profile image" %>
        <div class="skills">
          <% @skills.order('percent_utilized DESC').each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div 
                  class="progress-bar progress-bar-striped"
                  role="progressbar"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                ></div>              
              </div>            
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-8">
        <p>I just graduated computer science and I developed a passion for designing web applications. My favorite language to work with is ruby on rails. This web application is my first fully comeplete application and I enjoyed learnging and develop it.</p>

        <p>I am also studying android studio and working on a few personal projects right now. I enjoy very much creating applications for mobile devices that you can take anywhere and ofcourse I spend a lot of time to create the best design that would make an app user friendly and intuitive.</p>

        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#projectsHistory"
            aria-expanded="false"
            aria-controller="projectsHistory"
          >            
            Projects History
          </button>

          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controller="education"
          >            
            Education
          </button>
        </p>

        <p>
          <div class="collapse" id="projectsHistory">
            <div class="card card-block button-info-styles">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag "aPetStoryCover.png", width: "100%", alt: "A Pet Story Cover Picture" %>
                </div>
                <div class="col-md-9">
                  <%= link_to 'A Pet Story', "http://apetstory.herokuapp.com/" , target: "_blank" %>, my first rails application project. It is a blog that allowes creating of posts and users.
                </div>
              </div>              
            </div>

            <div class="card card-block button-info-styles">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag "javaGUI.png", width: "100%", alt: "Java GUI Project" %>
                </div>
                <div class="col-md-9">
                  A Java project with custom UI that will connect to a SQL database and create custom filters.
                </div>
              </div>              
            </div>
          </div>

          <div class="collapse" id="education">
            <div class="card card-block button-info-styles">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag "UTCNlogo.png", width: "100%", alt: "UTCN logo" %>
                </div>
                <div class="col-md-9">
                  Technical University of Cluj-Napoca, Industrial Design and 3D Modeling
                </div>
              </div>              
            </div>

            <div class="card card-block button-info-styles">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag "CSI.png", width: "100%", alt: "CSI logo" %>
                </div>
                <div class="col-md-9">
                  Computer Systems Institute, Computer Science
                </div>
              </div>              
            </div>
          </div>
          
        </p>
      </div>
      
    </div>
  </div>
</div>

