<!DOCTYPE html>
<html>
  <head>
    <!-- Bootstrap files -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- End bootstrap files -->

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name= "keywords" content= "<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!-- render the navigation partial from shared folder -->
    <%= render "shared/nav", location: 'top' %>

    <!-- method found in helpers/application_helper.rb-->
    <%= login_helper %>
    
    <%= yield %>

    <!-- custom gem that displayes the @copyright variable -->
    <%= copyright_generator %>

    <!-- method found in helpers/application_helper.rb-->
    <%= source_helper("application") %>
  </body>
</html>
